canvas{
    background-color: white;
    user-select: none;          /* 텍스트 선택 방지 */
    -webkit-user-select: none;  /* iOS Safari */
    -ms-user-select: none;      /* IE/Edge */
    touch-action: none;         /* 제스처 방지 */
}

button,input,span,div{
    user-select: none;          /* 텍스트 선택 방지 */
    -webkit-user-select: none;  /* iOS Safari */
    -ms-user-select: none;      /* IE/Edge */
    touch-action: none; 
}